
/* Importing style from Normalize.css */
@import 'normalize.css';
@import 'main.css';

/* CSS RESET - uncomment out to reset CSS */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}  */

header{
    /* background-color: red; */
    background-image: url('chayce-solchaga/assets/images/herobg.jpg');
}

.hero{
    background-color:

}
.hero p{
    width: 40%;
}
#features{
    background-color: #DBE4EE;
    padding: 2%;
}
.featureGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-basis: auto;
    padding: 1%;
}
.featureBox{
    /* border: 2px solid blue; */
}
.coreFeature{
    width: 40%;
    /* border: 2px solid red; */
    margin: 1%;
}
#pricing{
    
}
.pricingInfo{
    display: flex;
    flex-direction: column;
}
.pricingText {
    display: flex;
    flex-direction: row;
    padding: 5%;
    justify-content: space-evenly;
    align-items: baseline;
}
.pricingText2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: #DBE4EE;
    padding: 5%;
    justify-content: space-evenly;
    align-items: baseline;
}
.pricingText p{
    width: 40%;
}
.pricingText2 p{
    width: 40%;
}
.pricing-ent{
    
}
/* .inline-icons{
    width: 3%;
} */
#integrations{
    margin-left: 1%;
}
.integrationText{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
}
.partnerLogos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: space-evenly;
    align-items: center;
}
.partnerLogoph{
    display: flex;
    height: 150px;
    width: 60px;
    flex: 1 1 20%; 
    margin: 5px;
    justify-content: center;
    align-items: center;
}
.partnerLogoph img{
   max-width: 50%;
} 
#testimonials{
    display: flex;
    flex-direction: column;
    background-color: #DBE4EE;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}
.testimonialTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
}
.testimonialBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding 1%;
}
.userComment{
    margin-left: 2%;
}
.userComment p {
    width: 75%;
    /* margin-left: 2%; */
}
.user-pic-ph{
    background-color: #f5f5f5;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50px;
}
.user-pic-ph img{
    background-color: #f5f5f5;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

