
/* Importing style from Normalize.css */
@import 'normalize.css';
@import 'main.css';

/* CSS RESET - uncomment out to reset CSS */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}  */

/* MEDIA QUERIES */

/* For mobile phones: */
@media only screen and (max-width: 500px) {

    /* HEADER AND HERO */
    header{
        display: flex;
        flex-direction: column;
    }
    nav{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav .links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .hero{
        flex-wrap: wrap;
        flex-basis: auto;
        width: 100%;
        height: 100%;
    }
    .hero-text{
        height: 100%;
        width: 100%;
        opacity: 0.75;
    }
    .hero p{
        font-size: 1.5rem;
    }
    .hero-img{
        display: none;
    }

    /* FEATURES */
    #features{
        background-color: #DBE4EE;
        padding: 2%;
        display: flex;
        flex-direction: column;
    }
    .featureBox{
        display: flex;
        flex-direction: column;
    }
    .coreFeature{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 1%;
    }
    /* PRICING */
    #pricing{
    }
    .pricingInfo{
        display: flex;
        flex-direction: column;
    }
    .pricingText {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .pricingText p{
        width: 80%;
    }
    .pricingText2 {
        display: flex;
        flex-direction: column-reverse;
        background-color: #DBE4EE;
        justify-content: space-between;
        align-items: center;
    }
    .pricingText2 p{
        width: 100%;
    }
    .pricingTextBox{
        display: flex;
        flex-direction: column;
        align-items: baseline
        width: 100%;
        padding-left: 8%;
    }
    #pricingimg1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    #pricingimg1 img{
        height: 100%;
        width: 100%;
    }
    /* PARTNERS */
    #integrations{
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .integrationText {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
    }
    .integrationText p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
    }
    .partnerLogos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 2%;
        justify-content: space-evenly;
        align-items: center;
    }
    .partnerLogoph{
        display: flex;
        width: 100%;
        flex: 1 1 20%; 
        margin: 5px;
        justify-content: center;
        align-items: center;
    }
    .partnerLogoph img{
       max-width: 50%;
    } 
    /* TESTIMONIALS */
    #testimonials{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
    }
    .testimonialTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
    }
    .testimonialTitle p{
        font-size: 1.5rem;
    }
    .testimonialBox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .userComment{
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        width: 75%;
        align-items: center;
    }
    .userComment p {
        width: 90%;
    }
    .user-pic-ph img{
        background-color: #f5f5f5;
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
    /* FOOTER */
    .footerNavBlock{
        display: none;
    }
    .footerButtons{
        display: flex;
        flex-direction: row;
    }
}
/* For Tablets: */
@media only screen and (max-width: 800px) and (min-width: 501px) {
    /* HEADER AND HERO */
    header{
        /* background-color: red; */ 
        height: 80vh;
    }
    .hero{
        /* background-image: linear-gradient(to right, #FFF , #F17300); */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        font-size: 1.75rem;
    }
    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        height: 80%;
        background-color: #DBE4EE;
        opacity: 0.75;
        padding: 20px;
    }
    .heroTitle{
        padding-left: 20px;
    }
    nav a{
        font-size: 1rem;
    }

    .hero p{
        width: 50%;
        height: 90%;
    }
    .hero-img{
        width: 60%;
    }
    /* FEATURES */
    #features{
        background-color: #DBE4EE;
        padding: 2%;
    }
    .featureGrid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex-basis: auto;
        padding: 1%;
    }
    .featureBox{
        /* border: 2px solid blue; */
    }
    .coreFeature{
        /* border: 2px solid red; */
        margin: 1%;
    }
    /* PRICING */
    #pricing{
    }
    .pricingTextBox{
        display: flex;
        flex-direction: column;
        align-items: baseline
        width: 100%;
        padding-left: 8%;
    }
    .pricingInfo{
        display: flex;
        flex-direction: column;
    }
    .pricingText {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .pricingText p{
        width: 80%;
    }
    .pricingText2 {
        display: flex;
        flex-direction: column-reverse;
        background-color: #DBE4EE;
        justify-content: space-between;
        align-items: center;
    }
    .pricingText2 p{
        width: 100%;
    }
    #pricingimg1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    #pricingimg1 img{
        height: 100%;
        width: 100%;
    }
    /* PARTNERS */
    #integrations{
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
    }
    .integrationText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .integrationText p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
    }
    .partnerLogos{
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
        flex-wrap: wrap;
        margin: 2%;
        justify-content: space-evenly;
        align-items: center;
    }
    .partnerLogoph{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        flex: 1 1 20%; 
        margin: 5px;
        justify-content: center;
        align-items: center;
    }
    .partnerLogoph img{
        height: 100%;
        width: 100%;
    } 
    /* TESTIMONIALS */
    #testimonials{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
    }
    .testimonialTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
    }
    .testimonialTitle p{
        font-size: 1.5rem;
    }
    .testimonialBox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .userComment{
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        width: 75%;
        align-items: center;
    }
    .userComment p {
        width: 90%;
    }
    .user-pic-ph img{
        background-color: #f5f5f5;
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
}

/* For Laptops/Desktops: */
@media only screen and (min-width: 801px){

    /* HEADER AND HERO */
    header{
        /* background-color: red; */ 
        height: 80vh;
    }
    #hero{
    }
    .hero{
        /* background-image: linear-gradient(to right, #FFF , #F17300); */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        font-size: 1.75rem;
    }
    .hero-text{
        background-color: #DBE4EE;
        width: 40%;
    }
    .heroTitle{
        padding-left: 20px;
    }
    .hero-buttons{    
    }
    .hero p{
        width: 80%;
    }
    .hero-img{
        width: 40%;
    }
    .hero-img img{
        width: 100%;
    }
    /* FEATURES */
    #features{
        background-color: #DBE4EE;
        padding: 2%;
    }
    .featureGrid{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;

        padding: 1%;
    }
    .featureBox{
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
    }
    .coreFeature{
        /* border: 2px solid red; */
        margin: 1%;
    }
    /* PRICING */
    #pricing{
    }
    .pricingInfo{
        display: flex;
        flex-direction: column;
    }
    .pricingText {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .pricingText p{
        width: 80%;
    }
    .pricingText2 {
        display: flex;
        flex-direction: row-reverse;
        background-color: #DBE4EE;
        justify-content: space-between;
        align-items: center;
    }
    .pricingText2 p{
        width: 80%;
    }
    .pricingTextBox{
        display: flex;
        flex-direction: column;
        width: 45%;
        padding-left: 8%;
    }
    #pricingimg1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    #pricingimg1 img{
        height: 100%;
        width: 50%;
    }
    /* PARTNERS */
    #integrations{
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .integrationText {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
    }
    .integrationText p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
    }
    .partnerLogos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2%;
        justify-content: space-evenly;
        align-items: center;
    }
    .partnerLogoph{
        display: flex;
        height: 150px;
        width: 100px;
        flex: 1 1 20%; 
        margin: 5px;
        justify-content: center;
        align-items: center;
    }
    .partnerLogoph img{
       max-width: 100%;
    } 
    /* TESTIMONIALS */
    #testimonials{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
    }
    .testimonialTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5rem;
    }
    .testimonialBox{
        display: flex;
        justify-content: space-evenly;
    }
    .userComment{
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        align-items: center;
    }
    .userComment p {
        width: 90%;
    }
    .user-pic-ph img{
        background-color: #f5f5f5;
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
}
/* PAGE SPECIFIC CSS */


/* HEADER */
header{
    /* background-color: red; */ 
    /* height: 80vh; */
}
#hero{
}
.hero{
    /* background-image: linear-gradient(to right, #FFF , #F17300); */
    background-image: url('herobg.jpg');  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-text{
    opacity: 0.75;
    background-color: #DBE4EE;
    padding: 20px; 
    margin: -10px;
}
.heroTitle{
    padding-left: 20px;
}
.hero-buttons{    
}
.hero p{
    width: 80%;
}
.hero-img{
    width: 40%;
}
.hero-img img{
    width: 100%;
}

/* FEATURES */
#features{
    background-color: #DBE4EE;
    padding: 2%;
}
.featureGrid{
    padding: 1%;
}
.featureBox{
    /* border: 2px solid blue; */
}
.coreFeature{
    /* border: 2px solid red; */
    margin: 1%;
}

/* PRICING */

.pricingText2 {
    background-color: #DBE4EE;
}
/* .inline-icons{
    width: 3%;
} */
/* .inline-icons{
    width: 3%;
} */

/* PARTNERS */


/* TESTIMONIALS */
#testimonials{
    background-color: #DBE4EE;
}
.userComment p {
    font-style: italic;
    /* margin-left: 2%; */
}
